DB_HOST=<MongoDB connetion HOST> 

PORT=<localhost or address >

SECRET_KEY=<Key>

MAILTRAP_USER=<Mailtrap user>

MAILTRAP_PASSWORD=<Mailtrap password>

CLOUDINARY_CLOUD_NAME=<Cloudinary cloud name>

CLOUDINARY_API_KEY=<Cloudinary api key>

CLOUDINARY_API_SECRET=<Cloudinary api secret>



